<div class="h-auto w-full bg-secondary flex flex-row items-center justify-center p-8">
  <!-- Nav desktop / tablette -->
  <nav class="hidden md:flex items-center gap-8">
    @for (link of links; track link.path) {
  
      <a
        [routerLink]="link.path"
        [routerLinkActiveOptions]="{ exact: link.exact }"
        routerLinkActive="primary"
        class="mech-btn h-min"
        (click)="playClickSound()"
      >
        {{ ('nav.' + link.key) | translate }}
      </a>
    }
  </nav>
</div>
