<div class="hidden md:flex items-center justify-center h-auto w-full bg-secondary p-8">
  <!-- Nav desktop / tablette -->
  <nav class="flex flex-row items-center justify-center gap-12">
    @for (link of links; track link.path) {
  
      <a
        [routerLink]="link.path"
        [routerLinkActiveOptions]="{ exact: link.exact }"
        routerLinkActive="primary"
        class="mech-btn h-min"
        (click)="playClickSound()"
      >
        {{ ('nav.' + link.key) | translate }}
      </a>
    }
  </nav>
</div>
