<div class="w-full mx-auto px-12 md:px-48 py-12 bg-primary flex flex-col gap-12">
  <h2 class="font-title text-3xl font-bold text-secondary mb-6">
    Mes réalisations
  </h2>

  <!-- Filtres -->
  <div class="flex gap-4 font-body">
    <button (click)="setFilter(null)"
            class="px-3 py-1 rounded-full text-l md:text-xl bg-secondary"
            [class.bg-accent]="!filter"
            [class.bg-secondary]="filter">
      Tous
    </button>
    <button (click)="setFilter('Unity 3D')"
            class="px-3 py-1 rounded-full text-l md:text-xl"
            [class.bg-accent]="filter === 'Unity 3D'"
            [class.bg-secondary]="filter !== 'Unity 3D'">
      Unity 3D
    </button>
    <button (click)="setFilter('Angular')"
            class="px-3 py-1 rounded-full text-l md:text-xl"
            [class.bg-accent]="filter === 'Angular'"
            [class.bg-secondary]="filter !== 'Angular'">
      Angular
    </button>
  </div>

  <!-- Liste projets -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-12">
    @for (project of filteredProjects; track project.id) {
      <project-card [project]="project"></project-card>
    }
  </div>
</div>
