<!-- Section présentation de mes metiers-->
<div
  class="h-auto w-full bg-secondary flex flex-col lg:flex-row gap-24 lg:items-center justify-start py-24"
>
  <div
    class="h-full w-auto lg:w-1/2 bg-primary flex flex-row items-start justify-start p-12 md:p-24 pr-24 rounded-r-full mr-8 md:mr-24 lg:mr-0"
  >
    <div class="text-secondary">
      <div class="flex flex-col gap-8">
        <p class="font-title text-3xl md:text-5xl capitalize">
          Fullstack développeur
        </p>
        <div class="flex flex-row md:flex-row gap-12 justify-between">
          <p class="font-body text-l md:text-2xl">Angular<br />NodeJS</p>
          <button
            mat-button
            class="mech-btn primary"
            (click)="playClickSound('Angular')"
          >
            voir mes réalisations
          </button>
          <!--div>
            <img src="/assets/images/angular-nodejs.png" alt="Unity" class="h-auto max-h-52 rounded-3xl aspect-square">
          </div-->
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-full w-auto lg:w-1/2 bg-primary flex flex-row items-start justify-start p-12 md:p-24 pl-24 rounded-l-full ml-8 md:ml-24 lg:ml-0"
  >
    <div class="text-secondary">
      <div class="flex flex-col gap-8">
        <p class="capitalize text-3xl font-title">Unity développeur</p>
        <div class="flex flex-row md:flex-row gap-12 justify-between">
          <p class="font-body text-l md:text-2xl w-auto text-nowrap">
            Réalité Mixte<br />Serious Game
          </p>
          <button
            mat-button
            class="mech-btn primary"
            (click)="playClickSound('Unity 3D')"
          >
            voir mes réalisations
          </button>
          <!--img src="/assets/images/unity3D.avif" alt="Unity" class="h-auto max-h-52 rounded-3xl"-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Section présentation personnelle -->
<div
  class="h-auto w-full bg-neutral text-primary flex flex-col gap-24 lg:items-start justify-start p-12 md:p-24"
>
  <div class="font-title text-4xl md:text-5xl capitalize w-full md:w-1/2">
    Mon Expérience
  </div>
  <div class="max-w-4xl pl-4 md:pl-24">
    <div class="flex flex-col gap-8">
      <p class="font-body text-xl md:text-2xl">
        Je conçois des expériences interactives mêlant réalité mixte, serious
        games et interfaces immersives. Fort d'une expérience de plus de 6 ans
        dans le développement d'outils pédagogiques, scientifiques et
        scénographiques, je transforme des idées complexes en solutions
        accessibles et engageantes.
      </p>
    </div>
  </div>
</div>
<!-- Section présentation de mes passions-->
<div
  class="h-auto w-full bg-primary text-secondary flex flex-col gap-24 lg:items-start justify-start p-12 md:p-24"
>
  <div
    class="font-title text-4xl md:text-5xl capitalize w-full md:w-1/2 relative flex md:flex-row flex-col items-center justify-start gap-12"
  >
    <div class="w-full md:w-auto">
      Mes Passions
    </div>
    <!--class="absolute top-0 right-24 md:right-0 translate-x-full -translate-y-1/4"-->
    <svg
      width="100"
      height="100"
      viewBox="0 0 300 300"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 100C100 73.4783 110.536 48.043 129.289 29.2893C148.043 10.5357 173.478 6.20024e-06 200 6.51651e-06C226.522 6.83278e-06 251.957 10.5357 270.711 29.2893C289.464 48.043 300 73.4783 300 100L200 100L100 100Z"
        fill="var(--mat-sys-tertiary-container)"
        stroke="var(--mat-sys-tertiary-container)"
        stroke-width="1"
      />
      <path
        d="M100 300C73.4783 300 48.043 289.464 29.2893 270.711C10.5357 251.957 3.51108e-06 226.522 1.19249e-06 200C-1.12611e-06 173.478 10.5357 148.043 29.2893 129.289C48.0429 110.536 73.4783 100 100 100L100 200L100 300Z"
        fill="var(--mat-sys-tertiary-container)"
        stroke="var(--mat-sys-tertiary-container)"
        stroke-width="1"
      />
      <path
        d="M300 100L100 300H300V100Z"
        fill="var(--mat-sys-tertiary-container)"
        stroke="var(--mat-sys-tertiary-container)"
        stroke-width="1"
      />
      <path
        d="M100 300L300 100L100 100L100 300Z"
        fill="var(--mat-sys-secondary-container)"
        stroke="var(--mat-sys-secondary-container)"
        stroke-width="1"
      />
    </svg>
  </div>
  <div class="flex flex-col md:flex-row md:justify-between w-full gap-24">
    <div class="flex flex-col gap-24">
      <div class="max-w-4xl pl-4 md:pl-24">
        <div class="flex flex-col gap-8">
          <p class="font-body text-xl md:text-2xl">
            Ancien joueur de hockey sur glace en compétition, je continue
            aujourd'hui cette pratique en loisir, avec le même esprit d'équipe
            et la même rigueur que j'applique dans mes projets professionnels.
          </p>
        </div>
        <div class="flex flex-col gap-8 mt-8">
          <p class="font-body text-xl md:text-2xl">
            Passionné de jeux vidéo, j'apprécie particulièrement les jeux
            compétitifs comme Rocket League, ainsi que les simulations sportives
            de hockey ou de football. Au-delà du divertissement, ces jeux
            m'apportent une véritable stimulation : ils développent mes
            réflexes, ma concentration et mon esprit d'équipe, des qualités que
            je transpose également dans mon approche du développement logiciel.
          </p>
        </div>
        <div class="flex flex-col gap-8 mt-8">
          <p class="font-body text-xl md:text-2xl">
            Toujours curieux des nouvelles tendances technologiques, je
            m'intéresse à des domaines comme la réalité virtuelle, la 3D ou
            l'impression additive. J'aime tester, expérimenter et repousser les
            limites de ces outils, avec la même créativité et rigueur que dans
            mes projets professionnels. Cette passion alimente ma veille et me
            permet de rester en avance sur les solutions interactives de demain.
          </p>
        </div>
      </div>
    </div>
    <div
      class="relative w-auto md:max-w-1/3 md:min-w-80 h-auto aspect-[9/16] overflow-hidden shadow-lg triple-slices"
    >
      <!-- Image 3 - fond -->
      <img
        src="/assets/images/vr.jpg"
        alt="image 3"
        class="absolute inset-0 w-full h-full object-cover bg filter brightness-95 contrast-125 saturate-125 -hue-rotate-15 transition-all"
      />

      <!-- Image 2 -->
      <div class="absolute inset-0 clip-path-second">
        <img
          src="/assets/images/hockey.jpg"
          alt="image 2"
          class="w-full h-full object-cover filter brightness-95 contrast-125 saturate-125 hue-rotate-15 transition-all"
        />
      </div>

      <!-- Image 1 -->
      <div class="absolute inset-0 clip-path-first">
        <img
          src="/assets/images/game.jpg"
          alt="image 1"
          class="w-full h-full object-cover filter brightness-95 contrast-125 saturate-125 -hue-rotate-15 transition-all"
        />
      </div>
      <div class="pointer-events-none absolute inset-0 mix-blend-multiply bg-accent/10"></div>
    </div>
  </div>
<!--div class="h-40 w-full bg-secondary flex flex-row items-center justify-center">
<div class="text-on-secondary text-5xl uppercase font-body">SECONDARY</div>
</!--div>
<div class="h-40 w-full bg-accent flex flex-row items-center justify-center">
  <div class="text-on-accent text-5xl capitalize font-body">accent</div>
</div>
<div class="h-40 w-full bg-neutral flex flex-row items-center justify-center">
  <div class="text-on-neutral text-5xl uppercase font-body">neutral</div>
</div>
<div class="h-40 w-full bg-success flex flex-row items-center justify-center">
  <div class="text-on-success text-5xl uppercase font-body">success</div>
</div>
<div class="h-40 w-full bg-info flex flex-row items-center justify-center">
  <div class="text-on-info text-5xl uppercase font-body">info</div>
</div>
<div class="h-40 w-full bg-warning flex flex-row items-center justify-center">
  <div class="text-on-warning text-5xl uppercase font-body">warning</div>
</div>
<div-- class="h-40 w-full bg-error flex flex-row items-center justify-center">
  <div class="text-on-error text-5xl uppercase font-body">error</div>
</div-->
</div>
